* {
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 60px minmax(100px, 1fr) 60px;
    gap: 4px;
    height: 100%;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #393f4d;
    grid-area: 1/1/span 1/-1;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    padding: 1rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .menu {
    /* display: grid;
    grid-template: 1fr / 1fr; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menu ul,
  .menu li {
    font-size: 16px;
    text-decoration: none;
    list-style: none;
  }

  .menu>ul {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 3rem;
  }

  .menu>ul>li {
    display: flex;
    align-items:center;
    justify-content: center;
  }
  
  .sidebar {
    background-color: #FF7755;
    grid-area:2/1/-2/2;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    gap: 30px;
  }
  
  .sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  .sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .sidebar photo,
  .sidebar .side-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav {
    background-color: #FF7755;
    grid-area: 2/2/span 1/-1;
    display: grid;
    grid-template: 1fr / 1fr;
  }

  .nav ul {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
  }
  
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;

  }
  
  .article {
    background-color: #bccbde;
    grid-area: 3/2/-2/-1;
    display: grid;
    grid-template: repeat(auto-fit, minmax(20px, 200px)) / repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(20px, 200px);
    gap: 15px;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }

  .card p:not(.title) {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .footer {
    background-color: #393f4d;
    grid-area: -2/1/-1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;  
  }