@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap');

* {
    /* border: 1px solid black; */
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

:root {
    --font-error: 9px;
    --font-small: 12px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-title: 60px;
    --color-accent: rgb(87, 108, 131);
    --color-detail: rgb(228, 212, 224);
    --color-error: rgb(216, 96, 112);
    --color-light: rgb(201, 207, 212);
    --color-dark: rgb(37, 46, 54);
    --color-unfocus: rgb(169, 184, 194);
    --color-shadow: rgba(37, 46, 54, 0.1);
    --color-valid: rgb(209, 238, 224);

}

body {
    margin: 0;
    background-color: rgb(41, 44, 48);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;
    height: 100vh;
    position: fixed;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    flex: 4;
    height: 100%;
    gap: 650px;
    background-image: url("./img/patrick-hendry-o5LAZVa28j0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


.sidebar>.main-title-box {
    padding: 10px;
    font-size: var(--font-title);
    color: var(--color-dark);
    text-align: center;
    font-weight: bold;
    background-color: var(--color-shadow);
}

.sidebar>.photo-credit {
    margin-bottom: 10px;
    padding: 10px;
    font-size: var(--font-small);
    color: var(--color-detail);
    text-align: center;
    font-weight: bold;
}

.content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 6;
    height: 100%;
    gap: 35px;
    background-color: var(--color-light);
}

.content-area>header,
.form-title {
    font-size: var(--font-large);
    color: var(--color-dark);
    font-weight: bold;
}

.content-area>header,
.form-section {
    padding-left: 50px;
    padding-right: 150px;
}

.content-area>.checker,
.form-container>.form-submit {
    margin-left: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    box-shadow: 0 1px 2px 1px var(--color-shadow),
    0 4px 6px 1px var(--color-shadow);
    padding-top: 25px;
    padding-bottom: 25px;
    /* background-color: rgb(201, 207, 212); */
    background-color: rgb(209, 215, 219);
}

.form-title {
    width: 100%;
}

.form-row {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
    padding-bottom: 15px;
    margin-right: 15px;
}

.form-row label {
    font-size: var(--font-small);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--color-dark);
}

.form-row input,
.form-row input:placeholder-shown {
    font-size: var(--font-medium);
    color: var(--color-dark);
    border-radius: 4px;
    border: 2px solid var(--color-unfocus);
    background-color: rgb(248, 248, 248);
    width: 95%;
    height: 30px;
    padding: 8px;
    transition: border 0.2s linear,
                background-color 0.2s linear,
                box-shadow 0.2s linear;
}

/* .form-row input[type=number]::-webkit-inner-spin-button,
.form-row input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
} */

.form-row input:focus {
    border: 2px solid var(--color-dark);
    outline: none;
    box-shadow: 2px 2px 3px 1px var(--color-shadow);
    background-color: rgb(248, 248, 248);
}

.form-row input:focus:not(:placeholder-shown):invalid,
.form-row input.error:focus:not(:placeholder-shown):invalid {
    border: 2px solid var(--color-error);
}

.form-row input:not(:focus):not(:placeholder-shown):invalid,
.form-row input.error {
    border: 2px solid var(--color-error);
    background-color: var(--color-detail);
}

.form-row input:not(.error):not(:focus):not(:placeholder-shown):valid {
    border: 2px solid var(--color-accent);
    background-color: var(--color-valid);
}

/* .form-row input.error::after {
    content: "u suck";
    color: var(--color-error);
    display: block;
    font-size: var(--font-error);
} */

.form-container .form-submit>input[type='submit'] {
    background-color: var(--color-accent);
    color: var(--color-light);
    font-size: var(--font-large);
    margin-right: auto;
    width: auto;
    height: auto;
    padding: 0.3rem 1.5rem 0.6rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid var(--color-dark);
    box-shadow: 1px 4px 8px 1px var(--color-shadow),
                1px 2px 3px 1px var(--color-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    transition: border 0.1s linear,
                background-color 0.1s linear,
                color 0.1s linear,
                box-shadow 0.1s linear;
}

.form-container .form-submit>input[type='submit']:hover {
    background-color: rgb(79, 126, 177);
    box-shadow: 1px 4px 10px 8px var(--color-shadow),
                1px 3px 4px 3px var(--color-shadow);
}

.form-container .form-submit>input[type='submit']:active {
    background-color: rgb(35, 63, 92);
    border: 2px solid var(--color-light);
    box-shadow: 1px 3px 6px 1px var(--color-shadow),
                1px 2px 3px 1px var(--color-shadow);
}

.content-area .checker {
    color: var(--color-dark);
    font-size: var(--font-medium);
    font-weight: normal;
}

.content-area .checker>a {
    color: var(--color-accent);
    font-weight: bold;
    text-decoration: underline;
}
